# Flask
FLASK_DEBUG=false

# Supabase credentials (früher Cosmos DB)
SUPABASE_URL=Dein_Supabase_Projekt_URL
SUPABASE_KEY=Dein_Service_Role_Key

# API Secret Key for JWT and Flask Sessions
JWT_SECRET_KEY=Dein_JWT_Secret_Key
